body,html,.full{
  width: 100%;
  height: 100%;
}
body{
  font-size: 14px;
}
* {
  margin: 0;
  padding: 0
}
.fs-60{
  font-size: 60px;
}
.form-control{
  border-left:none;
  border-top:none;
  border-right:none;
  border-bottom: 1px solid #ced4da;
  border-radius: 0;
}
textarea.form-control{
 border: 1px solid #ced4da
}
input.form-control:focus,input.form-control.is-invalid:focus{
  outline: none;
  box-shadow: none;
}
.validate-form-item{
  height: 52px;
}
.navbar{
  padding-top:.1rem;
  padding-bottom: .1rem;
}
